# ========================
# PYTHON Y ENTORNOS
# ========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
env/
venv/
ENV/

# ========================
# VARIABLES DE ENTORNO
# ========================
.env
.env.*
*.key

# ========================
# BASE DE DATOS LOCAL
# ========================
db.sqlite3
db.sqlite3-journal

# ========================
# DJANGO
# ========================
# Archivos estáticos recolectados
staticfiles/

# Archivos subidos por usuarios
media/

# Logs y errores
*.log
local_settings.py

# ========================
# IDEs y SISTEMA OPERATIVO
# ========================
.idea/
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

# ========================
# MIGRACIONES
# ========================
*/migrations/*.pyc
*/migrations/*.pyo