# Archivos del entorno virtual
.venv/
env/

# Archivos de configuraciones del IDE (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Archivos de compilación
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos temporales de sistema operativo
Thumbs.db
.DS_Store

# Archivos de logs
*.log

# Archivos generados por Django
*.sqlite3

# Archivos estáticos y de base de datos (si no los quieres en Git)
static/
media/

# Archivos de configuración sensible
.env
config.py
settings.py
*.key

# Ignorar todos los models.py y views.py en cualquier app
*/models.py
*/views.py

# Ignorar todas las migraciones de Django
*/migrations/
