{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="custom-bg-primary">
    <div class="container mx-auto px-4 py-12">
        <div class="text-center mb-10">
          <h1 class="font-serif font-black text-4xl md:text-4xl text-white mb-4 text-center">
                Mis <span class="custom-text-secondary">Favoritos</span>
          </h1>
          <p class="text-lg text-gray-300">Tu colección personal de relojes.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
          {% for watch in productos_favoritos %}

            {% if watch.es_exclusivo %}
              {% include 'catalog/_exclusive_product_card.html' with watch=watch %}
            {% else %}
              {% include 'catalog/_product_card.html' with watch=watch %}
            {% endif %}

          {% empty %}
            <div class="col-span-full text-center py-16">
              <i data-lucide="heart" class="w-12 h-12 mx-auto text-gray-400 mb-4"></i>
              <p class="text-xl text-gray-300">Aún no tienes relojes favoritos.</p>
              <p class="text-gray-400 mt-2">Haz clic en el corazón de un producto para guardarlo aquí.</p>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}